<div class="container content">
  <div class="row">
    <div class="col-xs-6">
      <h1>YOUR TRAVEL BUDDIES</h1>
      <% @team.members.each do |member| %>
      <%= render "card", member: member %>
      <% end %>
      <%#= link_to image_tag("addmember.png", height: "60px", width: "60px"), new_team_member_path(@team), {class: "btn-add-member"} %>
    </div>
    <div class="col-xs-6 right">
     <h1>YOUR TEAM SCORE</h1>
     <div class="score"><%= @total_score %></div>
   </div>
 </div>

 <div class="row text-center lilpad"><h1>YOUR CHALLENGES</h1></div>
 <div class="row text-center">
   <div class="col-xs-6">
     <h1>ONGOING</h1>
   </div>
   <div class="col-xs-6">
     <h1>COMPLETED</h1>
   </div>
 </div>

 <div class="row">
   <div class="col-xs-12">
   <%= render "challenges/listchallenges" %>

   </div>
 </div>

 <div class="row text-center">
  <div class="col-xs-4">
    <% if @team.in_trip? %>
    <p><b>CHALLENGES</b><%#= link_to "", team_challenges_path(@team), method: :get, class: "btn-main" %></p>
    <% end %>
  </div>
  <div class="col-xs-4">
    <p><b>MAP</b><%#= link_to "", team_team_answers_path(@team), method: :get, class: "btn-main" %></p>
  </div>
  <div class="col-xs-4">
    <p><b>MEMORIES</b><%#= link_to "", team_team_answers_path(@team), method: :get, class: "btn-main" %></p>
  </div>

</div>



<%#= link_to "", edit_team_path(@team), class: "fa fa-pencil edit-button", style: "top: 28px;
position: relative;
right: -7px; color: grey; width: 10px", method: :get %>

<%#= @team.city.name %> <%#= link_to "", city_path(@team.city), class: "fa fa-info-circle edit-button", style: "color: grey;", method: :get %>
<%#= link_to "", city_members_path(@team.city), class: "fa fa-thermometer-full  edit-button", style: "color: grey;", method: :get %>


</div>
