body.pages_controller {
  background-color : #F7F6F6;
}

.innerpadding {
  padding-left: 50px;
  padding-right: 50px;
}

.home p {
  font-family: $base-font;
  color: #323232;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0px;
  opacity: 0.6;
}

.paddedi {
  padding-top: 2em;
}

.img-home {
  width: 350px;
}

.abs {
  position: absolute;
}

.verylilpad {
  margin-top: 20px;
}

.home-title {
  font-size: 32px;
  line-height: 40px;
  font-weight: 800;
  letter-spacing: 0.225px;
  color: #343851;
  font-family: 'Roboto', sans-serif;
}

.text-home {
  font-size: 16px;
  line-height: 28.8px;
  font-weight: 300;
  letter-spacing: normal;
  color: #696c7b;
  font-family: 'Roboto', sans-serif;
}


@media screen and (min-width: 480px) {
 .side-pad {
  padding: 0 250px 0 80px;
}
}
