body.pages_controller {
  background-color : #F7F6F6;
}

.innerpadding {
  padding-left: 50px;
  padding-right: 50px;
}

.home p {
  font-family: $base-font;
  color: #323232;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0px;
  opacity: 0.6;
}

.paddedi {
  padding-top: 2em;
}

.img-home {
  width: 350px;
  position: relative;
}

.abs {
  position: absolute;
}

.verylilpad {
  margin-top: 20px;
}
