.scoring {
  font-family: $header-font;
  color: #000;
  font-weight: 600;
  font-size: 35px;
  line-height: 32px;
  letter-spacing: 0px;
  opacity: 0.5;
}

.card-challenge {
  height: 110px;
  position: relative;
  background-color: #efefef;
  color:white;
  padding: 15px;
}

.card-title {
  font-size: 17px;
  color: #837F7F;
  letter-spacing: 0.59px;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:1;
  background: black;
  opacity: 0;
}
