

<% if member.team.present? %>

<%# if member.team.end_date.to_date > Date.today %>
<%# else %>
<%# end %>

<%# if member.team.team_picture.present? %>
<%#= cl_image_tag member.team.team_picture, class: "picture-card" %>
<%# else %>
<%#= cl_image_tag("default_fkhyps.png", class: "picture-card") %>
<%# end %>
<% if policy(member.team).show? %>
<% if member.team.city.present? %>
<div class="bigfont">
  <%= link_to team_path(member.team.id) do %>
  <ul class="list-inline">
    <li><%= member.team.city.name %></li>
    <li class="toright"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <line x1="4" y1="12" x2="20" y2="12"/>
      <polyline points="14 6 20 12 14 18"/>
    </svg>
    </li>
  </ul>
  <% end %>
</div>

<hr>
   <!--  <li>From <%#= member.team.start_date.strftime("%d")%> to
   <%#= member.team.end_date.strftime("%d %B") %></li> -->
   <%#= member.team.score %>
   <% end %>

   <% end %>

   <%# if member.team.end_date.to_date > Date.today %>
   <%# else %>
   <%# end %>


<!-- <div class="deletecard text-center">
 <%# if policy(member.team).destroy? %>
 <%#= link_to "DELETE", team_path(member.team), method: :delete, class: "card-link" %>
 <%# end %>
</div> -->
<% end %>
