<% content_for :head do %>
  <style>
    body {
      background-color: #FFFFFF;
    }
  </style>
<% end %>

<div class="content text-center padded innerpadding home">
  <div class="smaller"><%= render "shared/logo" %></div>
  <div class="homehead">Challenge the way </br> you travel</div>
  <p>Tripin makes citytrips with your friends fun and exciting by giving you a list of challenges to complete.</p>
  <div class="text-center">
    <%= link_to "START A NEW TRIP",  new_team_path, class: "btn-main" %>
  </div>
</div>


<!-- What is Tripin ?
Tripin is a mobile app that propose list of challenges that will lead you to discover a city.
The more challenges you complete, the more you discover !
You will even win some discounts !

What type of challenges ?
Let’s keep a bit of suspense…
We will just tell you that the challenges will lead you to talk to local people, make crazy picture, answer riddles… and of course, laugh a lot !

How it works ?
You just need to choose the city you are going to visit, pick your dates and travel buddies then you will get a list of challenges to accomplish.

Can everyone participate ?
Yes of course !
Tripin especially made for groups of friends and families.

Is it free ?
Of course, it’s totally free !

What do I win ?
When you succeed in accomplishing a challenge you can get free gifts or discounts at shops, museums, bars, restaurants and many other places !

Try it !


Who are we ?
Two girls who love travelling and gaming. We are making this app to share our experiences and change the way we visit a country.
Don’t hesitate to contact us, give us advices or if you just want to say hello
-->
