/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 9em;
  padding-bottom: 22em;
}

.content {
  padding: 0 22px;
}

.lilpad {
  padding: 15px 0;
}

.toppadding {
  padding-top: 50px;
}

.row-no-padding {
  [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.right {
  text-align: right;
}

.lililpad {
  padding: 35px 0px 15px 0px;

}

