h1 {
  font-family: $header-font;
  color: #7D89A4;
  font-weight: 300;
  font-size: 10px;
}

.right {
  text-align: right;
}

.score {
  font-size: 10px;
  line-height: 20px;
}

.bottommenu {
  font-size: 9px;
  color: #5274E8;
  letter-spacing: 1px;
}
