h1 {
  font-family: $header-font;
  color: #7D89A4;
  font-weight: 300;
  font-size: 10px;
}

.right {
  text-align: right;
}

.score {
  font-size: 10px;
  line-height: 20px;
}

.bottommenu {
  font-size: 9px;
  color: #5274E8;
  letter-spacing: 1px;
  line-height: 15px;
  a{
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}

.icon-menu {
  font-size: 18px;
}


.card-title {
  font-size: 17px;
  color: #837F7F;
  letter-spacing: 0.59px;
}
